<div class="super-container w-screen min-h-[1200px] bg-slate-700">
    <!-- header start -->
    <header class="w-full flex items-center justify-around h-[100px]">
        <div class="header_left-block flex items-center gap-2">
            <div class="flex items-center justify-center px-[20px] py-[10px] rounded-[100px] bg-[#F4F4F4] cursor-pointer text-[19.3px] leading-[23.16px]">explore the city</div>
            <div class="flex items-center justify-center px-[20px] py-[10px] rounded-[100px] bg-[#007F73] cursor-pointer text-[19.3px] leading-[23.16px] font-[400] text-white">Discover our events</div>
        </div>
        <div class="header_logo h-[38px] w-[195.66px] object-cover">
            <img src="Group 1.svg" alt="logo">
        </div>
        <div class="header_right-block">
            
            <div class="header_left-block flex items-center gap-2">
                <div class="flex items-center justify-center px-[20px] py-[10px] rounded-[100px] bg-[#F4F4F4] cursor-pointer">Book your hotel</div>
                <div class="h-[45px] w-[45px] rounded-full bg-[#F4F4F4] flex items-center justify-center cursor-pointer">
                    <img class="w-[23px] h-[23px]" src="Group 2.svg" alt="menu burger">
                </div>
            </div>
        </div>
    </header>
    <!-- header end -->

    <!-- section hero start -->
    <section class="hero grid grid-cols-3 mb-[200px]">
        <div class="col-span-2 relative h-[130px]">
            <div class="line-tree absolute -bottom-[1px] h-[1px] w-full bg-[#A8A8A8]"></div>
            <!-- arret start -->
            <span class="absolute arret-1 -right-[2px] top-0 w-[3px] h-[3px] bg-[#A8A8A8] rounded-full"></span>
            <span class="absolute arret-2 -right-[2px] -bottom-[2px] w-[3px] h-[3px] bg-[#A8A8A8] rounded-full"></span>
            <!-- arret end -->

            <!-- start text zone -->
             <section class="flex flex-col items-end justify-end h-full pb-2">
                <h1 class="text-top flex items-center justify-center overflow-hidden min-h-[55px] text-white">
                    <div class="first font-[700] text-[45px] whitespace-nowrap leading-[32.81px]">
                        @for (item of douala; track $index) {
                            <span class="chart inline-block">{{item}}</span>
                        }
                    </div>
                    <div class="second mx-2 start">
                        <img class="h-[35px] w-[35px] object-contain" src="Star 1 (1).svg" alt="start">
                    </div>
                    <div class="third font-[700] text-[45px] whitespace-nowrap leading-[45.81px] flex items-center gap-[8px]">
                        <div class="first font-[700] text-[45px] whitespace-nowrap leading-[45.81px]">
                            @for (item of the; track $index) {
                                <span class="chart inline-block">{{item}}</span>
                            }
                        </div>
                        <div class="first font-[700] text-[45px] whitespace-nowrap leading-[45.81px]">
                            @for (item of beating; track $index) {
                                <span class="chart inline-block">{{item}}</span>
                            }
                        </div>
                        <div class="first font-[700] text-[45px] whitespace-nowrap leading-[45.81px]">
                            @for (item of heart; track $index) {
                                <span class="chart inline-block">{{item}}</span>
                            }
                        </div>
                        <div class="first font-[700] text-[45px] whitespace-nowrap leading-[45.81px]">
                            @for (item of of; track $index) {
                                <span class="chart inline-block">{{item}}</span>
                            }
                        </div>
                        <span class="text-[#A8A8A8] font-[300] mx-2">
                            @for (item of cameroon; track $index) {
                                <span class="chart inline-block">{{item}}</span>
                            }
                        </span>
                    </div>
                 </h1>
             </section>
            <!-- end text zone -->
        </div>
        <div class="row-span-3 pr-[45px] pl-[10px] pt-[5px] relative">
            <div class="line-one absolute left-0 h-full w-[1.5px] bg-[#A8A8A8] top-0"></div>
            <img class="photograph" src="Rectangle 3.svg" alt="photograph">
        </div>
        <div class="row-span-2 relative pl-[45px] pt-[10px] pr-[10px]">
            <div class="line-two absolute -right-[1px] h-full w-[1.5px] bg-[#A8A8A8] top-0"></div>
            <img class="photograph" src="Rectangle 1.svg" alt="photograph">
            <span class="arret-3 absolute -right-[2px] -top-[1px] w-[3px] h-[3px] bg-[#A8A8A8] rounded-full"></span>
        </div>
        <div class="row-span-2 p-[10px]">
            <!-- <img class="photograph" src="Rectangle 2.svg" alt="photograph"> -->
            <video class="photograph rounded-md" loop muted autoplay src="demo.mp4"></video>
            <div class="flex items-center justify-center">
                <div class="relative translate-y-12">
                    <img class="rotate h-[154.7px] w-[154.7px]" src="Group 4.svg" alt="">
                    <img class="arrow-b absolute -bottom-10 left-1/2 z-10 -translate-x-1/2 translate-y-0" src="63143e4e25b46db174b66d70_NewDownArrow 1.svg" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- section hero end -->
    
</div>
<!-- cursor section -->
 <div class="cursor-contain h-[50px] w-[50px] rounded-full border-2 border-rose-600 flex items-center justify-center absolute z-50">
    <div class="cursor w-[4px] h-[4px] rounded-full bg-slate-950"></div>
 </div>